@font-face {
  font-family: 'Proxima-Nova-Reg';
  src: url('fonts/Proxima-Nova-Reg.eot'); 
  src: url('fonts/Proxima-Nova-Reg.eot?#iefix') format('embedded-opentype'),
       url('fonts/Proxima-Nova-Reg.woff') format('woff'),
       url('fonts/Proxima-Nova-Reg.ttf')  format('truetype'); 
}

@font-face {
  font-family: 'ProximaNova-Bold.otf';
  src: url('fonts/ProximaNova-Bold.otf'); 
}

@font-face {
  font-family: 'FuturaBQDemiBold';
  src: url('fonts/FuturaBQDemiBold.otf'); 
}

@font-face {
  font-family: 'SourceCodePro-Light';
  src: url('fonts/SourceCodePro-Light.otf'); 
}

@font-face {
  font-family: 'SourceCodePro-Semibold';
  src: url('fonts/SourceCodePro-Semibold.otf'); 
}

@font-face {
  font-family: 'TrashHand';
  src: url('fonts/TrashHand.ttf')  format('truetype');
}  

.centerContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#header547 {
  text-align: center;
  background-color: #e9c21d;
  height: 450px;
  width: 100%;
}

#img547 {
  padding-top: 65px;
  margin-left: 2%;
  max-height: 250px;
  max-width: 100%;
}

#intro {
  font-family: 'Proxima-Nova-Reg', sans-serif;
  color: #404041;
  font-size: 22px;
  margin-top: -1px;
  line-height: 140%;
  letter-spacing: 0.0625em;
  -webkit-transform: scale(.96, 1.025);
}

#introBold {
  font-family: 'ProximaNova-Bold.otf', sans-serif;
}

#darkHighlight {
  color: #ffffff;
  background-color: #404041;
  padding-left: 5px;
  padding-right: 5px;
}

#whiteHighlight {
  background-color: #ffffff;
  font-family: 'FuturaBQDemiBold';
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  color: #000000;
  padding: 3px 10px 2px 10px;
}

#white300 {
  min-height: 340px;
}

#white300 img {
  height: auto;
  max-width: 100%;
  margin-top: -12px;
  margin-left: 7%;
}

#white300Text {
  width: 440px;
  position: absolute;
  top: 73px;
  left: 344px;
  padding-bottom: 85px;
  text-align: left;
  font-family: 'Proxima-Nova-Reg', sans-serif;
  font-size: 22px;
  color: #6e6f72;
  line-height: 136%;
  letter-spacing: 0.0625em;
  -webkit-transform: scale(1, 1.025);
}

#ourStudents img {
  position: absolute;
  margin-top: -94px;
  left: 29%;
}

#ourStudents {
  text-align: center;
  min-height: 152px;
  background-color: #404041;
}

#ourStudentsText {
  width: 610px;
  margin: 0 auto;
  padding: 42px 10px 42px 10px;
  font-family: 'Proxima-Nova-Reg', sans-serif;
  color: #ffffff;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.075em;
  -webkit-transform: scale(1, 1.025);
}

#theyAre {
  background-color: #000000;
  height: 192px;
  max-width: 100%;
  height: auto;
}

#brainScientist {
  max-width: 100%;
  height: auto;
}

#theyAreBubble {
  position: absolute;
  top: -62px;
  left: 58%;
}

#mapDiv {
  /*position: relative;*/
  padding-top: 41px;
  height: 1100px;
  background-color: #ffffff;
}

#previousJobs {
  padding-bottom: 14px;
  margin-top: 14px;
  width: 541px;
  font-family: 'Proxima-Nova-Reg', sans-serif;
  color: #404041;
  font-size: 18px;
  line-height: 165%;
  letter-spacing: 0.0625em;
  -webkit-transform: scale(.96, 1.025);
}

#previous2 {
  padding-bottom: 14px;
  margin-top: 14px;
  width: 541px;
  font-family: 'Proxima-Nova-Reg', sans-serif;
  color: #6e6f72;
  font-size: 17px;
  line-height: 165%;
  letter-spacing: 0.08em;
  -webkit-transform: scale(.98, 1.025);
}

#map {
  margin-top: -18px;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

#theyAreAlso {
  position: absolute;
  margin-top: -63px;
  left: 24.5%;
}

#redHighlight {
  color: #d25150;
}

#blueHighlight {
  color: #3a90cb;
}

#beforeJoining {
  margin: 0 auto; 
  width: 662px;
  font-family: sans-serif;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  font-style: italic;
  line-height: 135%;
  -webkit-transform: scale(1.1, 1);
}

#internsToCeos {
  max-width: 100%;
  height: auto;
  position: absolute;
  left: 128px;
  top: -12px;
}  

.poker-container {
  background: #f1f1f2;
  position: relative;
  min-height: 215px;
}

#cards {
  height: 140px;
}

#ourStudentsLabel {
  position: absolute;
  height: 61px;
  top: -58px;
  left: 29%;
}

.poker-container:before {
  content: '';
  position: absolute;
  left: 0;
  top: -47px;
  width: 100%;
  height: 234px;
  background: #f1f1f2;
  -webkit-transform: skewY(-2.5deg);
  -moz-transform: skewY(-2.5deg);
  -ms-transform: skewY(-2.5deg);
  -o-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);
  -webkit-backface-visibility: hidden;
}

.innerPoker {
  margin: 0 auto;
  padding: 25px 20px;
  width: 822px;
  padding-bottom: 10px;
  font-family: 'TrashHand';
  font-size: 23px;
  color: #404041;
  letter-spacing: 0.08em;
  -webkit-transform: scale(1, 1.06);
}

#futura {
  font-size: 24px; 
  font-family: 'FuturaBQDemiBold';
  letter-spacing: 0.07em;
  font-style: italic;
}

#stoneSoups {
  background-color: #404041;
  min-height: 158px;
  text-align: center;
}

#stoneSoups p {
  font-family: 'Proxima-Nova-Reg', sans-serif;
  font-size: 22px;
  line-height: 137%;
  color: #ffffff;
  letter-spacing: 0.045em;
  -webkit-transform: scale(1, 1.095);
  padding-top: 46px;
  width: 540px;
  margin: 0 auto;
}

#computers {
  background-image: url("../images/computerbackground.png");
  height: 696px;
  font-family: 'SourceCodePro-Light','Andale Mono', AndaleMono, monospace;
  font-size: 18px;
  color: #404041;
}

#compSpan {
  font-family: 'TrashHand';
  font-size: 25px;
  color: #404041;
  letter-spacing: 0.0825em;
  line-height: 160%;
  -webkit-transform: scale(1, 1.07);
}

#demoDay {
  padding-top: 230px;
  text-align: center;
}

#demoDay span {
  line-height: 145%;
}

#demoDay img {
  margin-left: 15%;
  margin-top: 32px;
}

#studentAccomplishments {
  background-color: #000000;
  background-image: url("../images/studentbackground.jpg");
  height: 884px;
  font-family: 'SourceCodePro-Light', 'Andale Mono', AndaleMono, monospace;
  padding-top: 35px;
  text-align: center;
}

.photoLeft {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ffffff;
  width: 614px;
  margin-bottom: 14px;
}

.photoLeft img {
  float: left;
}

.photoLeft p {
  width: 100%;
  font-family: 'SourceCodePro-Light', 'Andale Mono', AndaleMono, monospace;
  font-size: 16px;
  color: #ffffff;
  line-height: 170%;
  margin-right: 25px;
  margin-left: 25px;
  text-align: left;
}

.photoRight {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ffffff;
  width: 614px;
  margin-bottom: 14px;
}

.photoRight img {
  float: right;
}

.photoRight p {
  font-family: 'SourceCodePro-Light', 'Andale Mono', AndaleMono, monospace;
  font-size: 16px;
  color: #ffffff;
  line-height: 170%;
  margin-right: 25px;
  margin-left: 25px;
  text-align: right;
}

#nikeLogo {
  margin-right: 13px;
}

#centerAlumniText {
  margin-left: 60px;
}

#companies {
  text-align: center;
  padding-top: 14px;
  background-color: #ffffff;
  min-height: 593px;
} 

#companies p {
  padding-top: 46px;
  padding-bottom: 33px;
  margin: 0 auto;
  text-align: left;
  font-family: 'SourceCodePro-Light', 'Andale Mono', AndaleMono, monospace;
  font-size: 14px;
  line-height: 160%;
  color: #6e6f72;
  width: 640px;
} 

#companies span {
  color: #404041;
  font-weight: bold;
}

.logoRow2 {
  width: 100%;
  margin-left: -7px;
}

.companyLogos {
  width: 118px;
}

#springLogo {
  width: 118px;
  margin-left: 10px;
}

#smallerLogo {
  width: 94px;
  margin-left: 11px;
}

#biggerLogo {
  width: 150px;
  margin-right: -15px;
}

#over116 {
  display: inline-block;
  width: 430px;
  margin-left: -66px;
}

#over116 img {
  float: left;
  margin-top: 30px;
}

#over116 p {
  position: absolute;
  margin-left: 210px;
  padding-top: 122px;
  color: #6e6f72;
  width: 300px;
}

.mentors {
  text-align: center;
  padding-top: 65px;
  display: inline-block;
  background-color: #436a8b;
  min-height: 434px;
}

#alumni33 p {
  margin-top: -22px;
  color: #ffffff;
  text-align: center;
  font-family: 'SourceCodePro-Light', 'Andale Mono', AndaleMono, monospace;
  font-size: 16px;
  line-height: 160%;
}

#over50 img { 
 margin-top: -14px;
}

#over50 p {
  margin: -32px 0px 90px -2px;
  color: #ffffff;
  text-align: center;
  font-family: 'SourceCodePro-Light', 'Andale Mono', AndaleMono, monospace;
  font-size: 16px;
  /*line-height: 160%;*/
}

.hands {
  margin-top: -5px;
  padding-top: 63px;
  height: 618px; 
  color: #436a8b;
  text-align: center;
  font-family: 'SourceCodePro-Light', 'Andale Mono', AndaleMono, monospace;
  font-size: 14px;
  line-height: 160%;
}

#praise img {
  margin-left: 92px;
}

.bold {
  font-family: 'SourceCodePro-Semibold', 'Andale Mono', AndaleMono, monospace;
}

#hands#praise {
  width: 417px;
}

#hands#pray {
  width: 554px;
}

#pray img {
  margin-top: 65px;
}

.thankYou {
  height: 528px;
  background-color: #404041;
  text-align: center;
  font-family: 'SourceCodePro-Light', 'Andale Mono', AndaleMono, monospace;
  font-size: 18px;
}

.thankYou a {
  color: #ffffff;
}

.thankYou img {
  padding-top: 204px;
}

.thankYou a:hover {
  color: #ffffff;
}

svg {
  position: absolute;
  margin-top: 9px;
}








